body {
    background-color: #f8f9fa;
}

h3 {
    font-weight: 600;
}

.table td, .table th {
    vertical-align: middle;
}

.btn {
    min-width: 90px;
}

.navbar-brand {
    font-weight: bold;
}

.form-control {
    border-radius: 0.3rem;
}

.table-danger {
    background-color: #f8d7da !important;
}
